<h3>{{{viewTitle}}}</h3>

<form action="/posts" method="POST">
  <input type="hidden" name="_id" value="{{movie.id}}">
  <div class="form-group">
    <label> Title</label>
    <input type="text" class="form-control" name="title" placeholder="title" value={{post.title}}>
  </div>


  <div class="form-group">
    <label> Description</label>
    <input type="text" class="form-control" name="description" placeholder="description" value={{post.description}}>
  </div>
  <div class="form-group">

    <button type="submit" class=" btn btn-info">Submit</button>
    {{!-- <a class="btn btn-secondary" href="/posts/list">view all</a> --}}
  </div>
</form>